= title "Research Objects Dashboard"

- if @research_objects.blank?
  %p.box_info_standout
    You have no Research Objects at the moment.
    Go to the
    = link_to "Getting Started", root_path
    for more info
  
- @research_objects.each do |ro|
  .ro_container.box_description
    %h2
      RO:
      = ro.name
    %div
      %table
        %tr
          %td.strong
            Path in Dropbox
          %td
            = ro.path