%footer#main_footer
  .dropbox_logo
    = link_to image_tag('WorksWithDropbox_white_small.png'), "http://dropbox.com", :target => "_blank"
  %p.copyright_text
    &copy; 2011 Wf4Ever
  %p.icon_attributions
    = link_to "Icons", "http://www.axialis.com/free/icons", :target => "_blank"
    by
    = link_to "Axialis Team", "http://www.axialis.com", :target => "_blank"
    and
    = link_to "famfamfam", "http://www.famfamfam.com/lab/icons/silk/", :target => "_blank"
