= title "Help with Research Objects"

#adding
  %h2
    Adding Research Objects
  %p
    After you have signed in with your Dropbox account and selected a location in your
    Dropbox that contains/stores Research Objects (ROs), you can then add new ROs in the
    form of new folders within this location. For example....... TODO: finish this!