$base-font-family: unquote('sans-serif');  // default font-family

$base-font-size: 13px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$font-color: #444;

$headings-font-color: #667B99;

$link-color: #2B477D;
$link-hover-color: #036;
$link-active-color: #607890;
$link-visited-color: #607890;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: #22384F;  // bg-color for selected text

$list-left-margin: 1.8em;  // left margin for ul an ol

$layout-background-color: #E9EEF6;
$content-background-color: #FFF;
$sidebar-background-color: #CCD5E6;
$tab-background-color: #667B99;
$tab-hover-background-color: #5a87dd;
$button-background-color: #258225;
$main-border-color: #AFBBD2;
